PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE empresas (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL
        );
INSERT INTO empresas VALUES(1,'Flota Rionegro');
INSERT INTO empresas VALUES(2,'Expreso gomezvilla');
INSERT INTO empresas VALUES(3,'Rapido Duitama');
CREATE TABLE buses (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            numero_bus TEXT NOT NULL UNIQUE,
            conductor TEXT NOT NULL,
            empresa_id INTEGER NOT NULL, cat_asientos INTEGER NOT NULL DEFAULT 40,
            FOREIGN KEY (empresa_id) REFERENCES empresas(id) ON DELETE CASCADE
        );
INSERT INTO buses VALUES(1,'con-001','Juan Sanchez',9,35);
INSERT INTO buses VALUES(2,'con-002','Haider Espinosa',9,35);
INSERT INTO buses VALUES(3,'con-003','Snatiago Chavez',8,40);
CREATE TABLE roles (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL UNIQUE
        );
INSERT INTO roles VALUES(1,'usuario');
INSERT INTO roles VALUES(2,'agencias');
INSERT INTO roles VALUES(3,'admin');
CREATE TABLE usuarios (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL,
            email TEXT NOT NULL UNIQUE,
            contrase├▒a TEXT NOT NULL,
            rol_id INTEGER, verificado INTEGER DEFAULT 0,
            FOREIGN KEY (rol_id) REFERENCES roles(id) ON DELETE SET NULL
        );
INSERT INTO usuarios VALUES(1,'Nuevo Usuario','nuevousuario@example.com','$2b$10$8Jbvq1Yg6er8uOBkOAzxE.6VRYiRLZwwvQ/OkxklMge8nK785/UDS',3,0);
INSERT INTO usuarios VALUES(2,'haider','haider@gmail.com','$2b$10$0xrUzHP4iRA6MANXNRmAv.ntrXNXz99LNgu8/pgr7FTpphM9SdJ6u',3,0);
INSERT INTO usuarios VALUES(3,'test','test@gmail.com','$2b$10$jAjhFoI5nGPETq6.yossYuVLfG0DNRmnO0vL0dEfk8yT/RUWzwShy',1,1);
CREATE TABLE municipios (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            nombre TEXT NOT NULL UNIQUE
        , tarifa_km REAL NOT NULL DEFAULT 1.0);
INSERT INTO municipios VALUES(1,'Terminal sat├®lite norte',1.0);
INSERT INTO municipios VALUES(2,'Bogot├í',1.0);
INSERT INTO municipios VALUES(3,'Ch├¡a',1.0);
CREATE TABLE rutas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    origen TEXT NOT NULL,
    destino TEXT NOT NULL,
    distancia_km REAL,
    duracion_estimada TEXT
);
INSERT INTO rutas VALUES(1,'Terminal sat├®lite norte','Aguazul, Casanare',321.0,'6 h 18 m');
INSERT INTO rutas VALUES(2,'Terminal sat├®lite norte','Sogamoso',201.0,'3 h 20 m');
CREATE TABLE viajes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    bus_id INTEGER NOT NULL,
    ruta_id INTEGER NOT NULL,
    salida TEXT NOT NULL,
    llegada TEXT NOT NULL,
    precio INTEGER,
    FOREIGN KEY (bus_id) REFERENCES buses(id) ON DELETE CASCADE,
    FOREIGN KEY (ruta_id) REFERENCES rutas(id) ON DELETE CASCADE
);
INSERT INTO viajes VALUES(1,1,1,'2025-05-29T21:30','2025-05-30T05:30',81000);
INSERT INTO viajes VALUES(2,2,1,'2025-05-30T04:00','2025-05-30T12:00',81000);
INSERT INTO viajes VALUES(3,3,1,'2025-05-29T11:20','2025-05-29T19:20',81000);
CREATE TABLE tickets (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    usuario_id INTEGER NOT NULL,
    viaje_id INTEGER NOT NULL,
    asiento TEXT NOT NULL,
    fecha_compra TEXT NOT NULL DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (usuario_id) REFERENCES usuarios(id) ON DELETE CASCADE,
    FOREIGN KEY (viaje_id) REFERENCES viajes(id) ON DELETE CASCADE
);
CREATE TABLE ruta_municipios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    ruta_id INTEGER NOT NULL,
    municipio_id INTEGER NOT NULL,
    orden INTEGER,
    FOREIGN KEY (ruta_id) REFERENCES rutas(id) ON DELETE CASCADE,
    FOREIGN KEY (municipio_id) REFERENCES municipios(id) ON DELETE CASCADE,
    UNIQUE (ruta_id, municipio_id)
);
INSERT INTO ruta_municipios VALUES(923,1,1,0);
INSERT INTO ruta_municipios VALUES(924,1,2,1);
INSERT INTO ruta_municipios VALUES(925,1,3,2);
INSERT INTO sqlite_sequence VALUES('roles',3);
INSERT INTO sqlite_sequence VALUES('usuarios',7);
INSERT INTO sqlite_sequence VALUES('tickets',61);
COMMIT;
